.footerLinks {
  text-decoration: none;
}
#Anwesenheitsliste {
  width: 100vh;
  margin-right: 8vh;
}

#wochenleiste {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 2vh;
}

.wochenbuttons {
  background-color: white;
  border: solid 2px rgb(56, 161, 231);
  border-radius: 5px;
  color: rgb(56, 161, 231);
  font-size: 1em;
  height: 2em;
  margin-top: auto;
  margin-bottom: auto;
}
.wochenbuttons:hover {
  cursor: pointer;
}

#datumWoche {
  font-weight: bold;
}

#anwesenheitTabelle {
  width: 97%;
  border-collapse: collapse;
  margin-left: 2vh;
  box-shadow: 5px 10px 12px #d6d6d6;
}
#anwesenheitTabelle,
#anwesenheitTabelle th,
#anwesenheitTabelle td {
  border: 1px solid rgb(209, 209, 209);
}

#anwesenheitTabelle th,
#anwesenheitTabelle td {
  text-align: left;
  padding-left: 10px;
  height: 4vh;
}

#anwesenheitTabelle td {
  background-color: rgb(13, 138, 13);
  color: rgb(221, 221, 221);
}

#anwesenheitTabelle .tabelleRot {
  background-color: red;
}

#Legende {
  width: 20vh;
  border: solid 1px rgb(184, 184, 184);
  border-radius: 5px;
}

#ueberschriftLegende {
  background-color: rgb(211, 210, 210);
  padding: 1px;
}

table {
  width: 80%;
  margin-top: 2vh;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  margin-bottom: 2vh;
}
table,
td {
  text-align: left;
  padding-left: 10px;
  height: 4vh;
}
td {
  border: 1px solid rgb(209, 209, 209);
  background-color: rgb(13, 138, 13);
  color: rgb(221, 221, 221);
}

.tabelleRot {
  background-color: red;
}

h5 {
  font-size: 1em;
}

#wrapper {
  display: flex;
  margin-bottom: 8vh;
}
